# <center>Heart Attack in China</center>

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler , LabelEncoder

In [21]:
dt = pd.read_csv("heart_attack_china.csv")
dt

,Patient_ID,Age,Gender,Smoking_Status,Hypertension,Diabetes,Obesity,Cholesterol_Level,Air_Pollution_Exposure,Physical_Activity,...,Hospital_Availability,TCM_Use,Employment_Status,Education_Level,Income_Level,Blood_Pressure,Chronic_Kidney_Disease,Previous_Heart_Attack,CVD_Risk_Score,Heart_Attack
0,1,55,Male,Non-Smoker,No,No,Yes,Normal,High,High,...,Low,Yes,Unemployed,Primary,Low,104,Yes,No,78,No
1,2,66,Female,Smoker,Yes,No,No,Low,Medium,High,...,High,No,Unemployed,Secondary,Middle,142,No,No,49,No
2,3,69,Female,Smoker,No,No,No,Low,Medium,High,...,Low,No,Unemployed,Primary,High,176,No,No,31,No
3,4,45,Female,Smoker,No,Yes,No,Normal,Medium,Low,...,Medium,Yes,Employed,Primary,Low,178,No,Yes,23,No
4,5,39,Female,Smoker,No,No,No,Normal,Medium,Medium,...,Low,No,Retired,Higher,Middle,146,Yes,No,79,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239261,239262,53,Male,Non-Smoker,No,No,No,Normal,Medium,Medium,...,High,Yes,Retired,Higher,Low,167,No,No,86,Yes
239262,239263,48,Female,Non-Smoker,No,No,Yes,Normal,Low,Medium,...,Medium,Yes,Unemployed,Higher,Low,179,No,No,25,No
239263,239264,57,Male,Smoker,Yes,No,No,Normal,Low,High,...,Medium,Yes,Retired,Higher,Middle,136,No,No,89,No
239264,239265,42,Female,Non-Smoker,No,No,No,High,Medium,High,...,Low,Yes,Employed,Primary,Middle,159,No,No,72,Yes
239265,239266,79,Male,Non-Smoker,No,No,No,High,Medium,Medium,...,High,No,Retired,Secondary,Low,112,Yes,No,46,No

In [51]:
dt.shape

(239266, 28)

In [52]:
x = dt.iloc[:,1:27]
y = dt.iloc[:,27:]

In [53]:
LE = LabelEncoder()

In [60]:
DT = pd.DataFrame()
DT

Empty DataFrame
Columns: []
Index: []

In [62]:
categorical_cols = dt.select_dtypes(include=['object']).columns
categorical_cols

Index(['Gender', 'Smoking_Status', 'Hypertension', 'Diabetes', 'Obesity',
       'Cholesterol_Level', 'Air_Pollution_Exposure', 'Physical_Activity',
       'Diet_Score', 'Stress_Level', 'Alcohol_Consumption',
       'Family_History_CVD', 'Healthcare_Access', 'Rural_or_Urban', 'Region',
       'Province', 'Hospital_Availability', 'TCM_Use', 'Employment_Status',
       'Education_Level', 'Income_Level', 'Chronic_Kidney_Disease',
       'Previous_Heart_Attack', 'Heart_Attack'],
      dtype='object')

In [59]:
mappings = {}

for col in dt.iloc[:,3:4]:
    DT[col] = LE.fit_transform(dt[col])  # Convert to numeric
    mappings[col] = dict(zip(LE.classes_, LE.transform(LE.classes_)))

mappings

#for col in dt.iloc[:,1:28]:
#    DT[col] = LE.fit_transform(dt[col])

#DT

{'Smoking_Status': {'Non-Smoker': 0, 'Smoker': 1}}

In [38]:
DT.to_csv("heart_attack_china_Classified.csv",index=False)